html{
    font-family:monospace;
    color: rgb(0, 0, 0);
    font-size: 14px;
    background-color: aliceblue;
}

* {
    /* border: 1px solid black; */
}

h2 {
    margin-bottom: 0; 
}

header{
    padding:0.5vh 10vw;
    text-align:left;
    background-color:#FFFFFF;

}

body{
    /* width: 100%; */
    margin: auto;
    min-width: 1300px;
    max-width: 1400px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #f0f0f0; */
    justify-content: center;
}

main div{
    width: 85%;   
    /* margin: auto; */

}

.viz-title {
    width: 70%;
}

.centre{
    text-align: center;
}


.bold{
    font-weight: bold;
}

.boldnice{
    font-style:italic;
    font-weight: bold;
}

/* header{
    text-align:left;
    background-color:aliceblue;
} */

footer{
    text-align:center;
    background-color:#ffffff;
    color:rgb(0, 85, 57);
    position:relative;
    text-align: center;
    padding: 10px;

}

header h1{
    font-family:'Courier New', Courier, monospace;
    text-align: left;
}


::-webkit-scrollbar {
    width: 12px; /* Adjust the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #fffffff4;
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #b1b1b1; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Adjust the border radius to make it round */
  }

  .flex-container {
    display: flex;
    flex-direction: column;
  }

  .flex-container > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .flex-container > div > div {
    flex-basis: 50%;
  }

  .flex-container > div > div.img-container {
    width: 100px;
    height: 100px;
  }

  .flex-container > div > div.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.thumbnail:hover {
    opacity: 0.5;
}

.thumbnail {
    border: 1px solid gray;
}

/* Make changes on 3Jun2023 */

h3{
    /* text-align: center; */
}
article {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    /* width: 80%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.myContainer {
    flex: 1;
    padding: 20px;
    /* border: 0.5px solid #9f9f9f; */
    border-radius: 5px;
    margin-bottom: 30px;
    /* font-family: Arial, sans-serif; */
    box-sizing: content-box;
    text-align: justify;
    margin: auto;
    margin-bottom: 30px;
}
.container{
    border: 0.5px solid #9f9f9f;
    padding: 20px;
    background-color: rgb(150, 191, 228);
    text-decoration: none; 
    color: inherit; 
    width: 45%;
}

.container:hover {
    transform: scale(1.05);
    transition: transform .3s;
}

#idp{
    /* border: 0.5px solid #9f9f9f;
    padding: 20px; */
    margin-right: 20px;
}

#migration {
    /* border: 0.5px solid #9f9f9f;
    padding: 20px; */
    margin-left: 20px;
} 

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .container {
        max-width: 540px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container {
        max-width: 720px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container {
        max-width: 960px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container {
        max-width: 1140px;
    }
}