/* .linkage:hover {
    stroke-opacity: 0.9;
} */

.linkage{
    transition: stroke-opacity 0.1s ease-in-out;
}

/* Set this so hovering through the node labels won't interupt the node mouseover event */
.node-label{
    pointer-events: none;
}

svg{
    /* border: 1px black solid; */
    display: block;
    margin:auto;
}

#temp-tt {
    font-size: 12px;
    pointer-events: none;
}


.content-block {
    width: 70%;
    text-align: justify;
}