.axis path,
.axis line {
    stroke:#061A40;
    shape-rendering:crispEdges;
    stroke-width: 2px;
}

.axis text {
    font-family: monospace;
    font-weight: bold;
    font-size: 10px;
    fill: #061A40;
}

.pts-title{
    opacity: 0%;
    /* border: 1px black solid; */
    /* background-color: aqua; */
}

.line {
    fill: none;
    stroke: navy;
    stroke-width: 2;
    }


.annotation {
    opacity: 0.7;
}

#annon {
    fill: #72DDF7;
    stroke: #72DDF7;
    stroke-width: 2.5px;
}

#annon text {
    fill: #B9D6F2;
    stroke: none;
}

svg{
    border: 1px black solid;
    display: block;
    margin:auto;
    background-color:rgb(255, 254, 248);
}